
<div class = "container">
    <h1>Log In</h1>
    <div class = "row">
        <p class = "left-label">
            ID Number: 
        </p>
        
        <mat-form-field appearance="outline">
            <input  
                matInput
                type="number"
                min="0" 
                placeholder="Enter ID Number"
                [(ngModel)]="userId"
                name="userId"
                (keyup.enter)="login()"
            />
        </mat-form-field>
    </div>

    <div class = "row">
        <p class = "left-label">
            PIN: 
        </p>
        
        <mat-form-field appearance="outline">
            <input
                matInput
                type="text"
                inputmode="numeric"
                min="0"
                placeholder="Enter PIN"
                [(ngModel)]="pin"
                name="pin"
                (keyup.enter)="login()"
            />
        </mat-form-field>
    </div>

    <button matButton="filled" (click)="login()"> 
        Log In 
    </button>

    <p *ngIf="loginResult === false" class = "error">
        Invalid credentials
    </p>
</div>